.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.textWrapper{
  position: relative;
}
.textWrapper h1 {
  padding-bottom: 30px;
}
.error {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s linear;
}
.hidden {
  opacity: 0;
}
.show {
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
